/*-------------------------------------------------------------------------------General/Padding/Margin---*/
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    position: relative;
}

nav {
    padding: 0px;
    min-height: 50px;
    }

.container-fluid {
    padding: 0;
}

.container {
    margin-left: 0px;
    margin-right: 0px;
}

.jumbotron {
    margin: 50px 10px 10px 10px;;
}

h2 {
    text-transform: uppercase;
    font-weight: 300;
}

h4 {
text-transform: uppercase;
font-weight: 300; 
}

.uppercase {
    text-transform: uppercase;
}

.filler-text {
    text-align: center;
    color: #606060;
    margin: 1em;
}

.filler-text h4 {
    margin: 0px;
}

.filler-btn {
    border-radius: 0px;
    background-color: rgba(11,160,160,0.7);
    border-color: #606060;
    color: #f8f8f8;
    height: 3em;
    letter-spacing: 1px;
    margin: 1.5em;

}

.filler-btn:hover {
    background-color: rgba(11,160,160,0.97);
    border-color: #606060;
    color: #f8f8f8;
}
/*------------------------------------------------------------------------------------------------Nav----*/
.navbar {
    background-color: #fefefe;
    padding: 0;
}

.nav-link {
    margin-left: 10px;
}

.navbar-brand {
    color: #098888;
    height: 40px;
    letter-spacing: 1px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    margin: 0px;
}

.navbar-brand:hover {
    color: #85cfcf;
}

.nav-item {
    background-color: transparent;
    letter-spacing: 1px;
    font-weight: 400;
    padding-left: 2px;
}

.nav-link {
    color: #054f4f;
}

.nav-item:hover .nav-link {
    color: #85cfcf;
}

.nav-link.active {
    color: #85cfcf;
}

.dropdown-menu {
    border: none;
    background-color: #e6eeee;
    border-radius: 0px;
    margin: 4px;
}

.dropdown-item {
    color: #044646;
    outline: none;
} 


.nav-btn-contact {
    border-radius: 0px;
    background-color: rgba(11,160,160,0.8);
    border-color: #606060;
    color: #f8f8f8;
    height: 40px;
    letter-spacing: 1px;
    margin-right: 10px;
    

}

.nav-btn-contact:hover {
    background-color: rgba(11,160,160,0.98);
    border-color: #606060;
    color: #f8f8f8;
}

.navbar-toggler {
    max-height: 40px;
    padding-top: 5px;
    border: none;
    margin: 0px;
    margin-left: 0px;

}
.navbar-toggler-icon {
     color: #508a8a;
     font-size:28px;
     margin: 0px;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

/*------------------------------------------------------------------------------------------------Hero---*/
.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)),  url("../images/jumbo1.jpg");
    border-radius: 0px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    text-align: center;
    color: #f5f5f5;
}

.jumbotron-btn-contact {
    border-radius: 0px;
    background-color: rgba(6,88,88,0.4);
    border-color: #c0c0c0;
    color: #f2f2f2;
    height: 40px;
    letter-spacing: 1px;
    margin-top: 2em;
}

.jumbotron-btn-contact:hover {
    background-color: rgba(6,88,88,0.8);
    color: #f2f2f2;
    border-color: #c0c0c0;
}

/*---------------------------------------------------------------------------------------------About/CV---*/
.about-container {
    color: white;
    background-color: white;
}

.cv-cards-container {
    display: flex;
    background-color: slategrey;
}

.cv-block {
    margin: 10px;
    background-color: #065858;
    padding: 10px;
    text-align: center;
    height: 95%;
    position: relative;
}

.cv-history-container {
    color: #fafafa;
    margin-bottom: 20px;
    margin-top: 10px;
}

.cv-timeline-text {
    margin-top: 2em;
}

.cv-timeline-text p {
    margin-bottom: 1.5em;
}
.cv-image {
    text-align: center;
    margin-bottom: 1em;
}

.cv-image img {
    height: 8em;
    width: 8em;
    border-radius: 50%;
    
}
.cv-circle-icon {
    border-radius: 50px;
    padding: 30px;
    border: 2px solid #c0c0c0;
    font-size: 2em;
    margin-bottom: 10px;
}

.cv-break {
    color: #c0c0c0;
}
.cv-skills-container {
    color: #fafafa;
    margin-bottom: 20px;
    margin-top: 10px;
}

.cv-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.cv-skills-block {
   margin: 10px;
   background: radial-gradient(circle, rgba(9,136,136, 0.88) 0%, rgba(6,88,88,1) 70%);
    padding: 10px;
    text-align: center; 
}
.cv-item p {
 color: #fefefe;
 padding: 0;
 margin: 0;
}

.cv-history-header { 
    text-align: center;
    
}

.cv-skills-header {
    text-align: center;
    width: 100%;
}
.cv-history-timeline {
    margin-bottom: 30px;
}
.cv-skills-container {
    text-align: center;
}

.cv-skills-block hr {
    border-top: 1.5px solid #fafafa;
}
.cv-skills-subheader i {
    border-radius: 50%;
    padding: 30px;
    background-color: transparent;
    font-size: 2.4em;
    margin-bottom: 0.5em;
    border: 20px solid #c0c0c0;
}
.cv-btn-container {
    text-align: center;
}

.btn-print-cv {
    border-radius: 0px;
    color: #065858;
    border-color: #065858;
    background-color: #fefefe;
    letter-spacing: 1px;
    padding: 15px 20px;
    border-width: 2px;
    font-size: 20px;
    opacity: 0.8;
}

.btn-print-cv:hover {
    color: #fefefe;
    background-color: transparent;
    border-color: #fefefe;
    font-weight: 400;
    border-width: 2px;
    opacity: 0.8;
}
.cv-container-print-icon {
    font-size: 30px;
}

.cv-btn-container p {
    color: white;
    margin: 10px;
    width: 100%;
}
/*---------------------------------------------------------------------------------------------Projects---*/

.portfolio-container {
margin: 10px;
}


.cards-container {
    display: flex;
    background-color: #7fb2b2;
}

.project-card {
    margin: 15px;
    padding: 3px;
    background-color: rgba(248,248,248, 0.75);
    box-shadow: 6px 6px 6px rgba(109, 109, 114, 0.9);
    height: 95%;
    position: relative;
    
}

.project-card:hover {
    background-color: rgba(248,248,248, 0.95);
   box-shadow: 7px 7px 6px rgba(109, 109, 114, 1);
}

.project-card p {
    min-height: 5em;
    text-align: center;
    padding: 1em;
    color: #737373;
}
.project-card-content {
    text-align: center;
}

.project-tech-used {
    color: #868686;
}

.project-image {
    margin-bottom: 10px;
    width: 100%;
}

.project-card h3 {
    color: #606060;
}

.nav-btn-gitproject {
    border-radius: 0px;
    background-color: #065858;
    border-color: #065858;
    color: #fefefe;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: inline-block;
    max-width: 100%;
}

.nav-btn-gitproject:hover {
    background-color: #fefefe;
    color: #065858;
    font-weight: 400;
}

.btn-project {
    display: inline-block;
    max-width: 100%;
}

.portfolio-btn-contact {
    border-radius: 0px;
    background-color: #065858;
    border-color: #065858;
    color: #fefefe;
    height: 40px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    max-width: 100%;
}

.portfolio-btn-contact:hover {
    background-color: #fefefe;
    color: #065858;
}
/*-------------------------------------------------------------------------------------Testimonials*/
.testimonials-container {
    background-color: #fefefe;
    margin: 10px;
}

.testimonials-md-container {
    display: flex;
}
.testimonials-container-header {
    text-align: center;
    color: #fefefe;
}

.testimonial-content {
    color: #fefefe;
}

.testimonial-block {
    margin: 10px;
    padding: 20px;
    background-color: #197575;
    position: relative;
    height: 95%;
}

.testimonial-subheader {
text-align: center;
margin-bottom: 1em;
}

.testimonial-quote {
    text-align: justify;
}

.client-image {
    text-align: center;
    margin-bottom: 1em;
}

.client-image img {
    height: 8em;
    width: 8em;
    border-radius: 50%;
}

.client-image-small {
    text-align: center;
    margin-bottom: 1em;
}

.client-image-small img {
    height: 4em;
    width: 4em;
    border-radius: 50%;
    
}

.client-title {
    color: #C0C0C0;
}

/*---------------Testimonial Toggle Box-------*/
.card-header {
    background-color: #065858;
    border-radius: 0px;
    color: white;
    text-align: center;
}


.testimonial-header-btn {
    color: white;
    text-decoration: none;
    background-color:#065858;
    max-width: 100%;
}

.card-body {
    text-align: justify;
    border: 2px solid #C0C0C0;
}
/*-------------------------------------------------------------------------------------Contact*/
.contact-container {
    background-image: url("../images/contactbg-tile.png");
    background-repeat: repeat;
    margin: 10px;
}

.contact-header {
    color: #fefefe;
}

.portfolio-container-subhead {
color: #fefefe;
text-align: center;
}

.contact-form {
    margin: 4%;
    text-align: center;
    color: white;
    background-color: rgba(6, 102, 102, 0.95);
    padding: 10px;
    border: 2px solid #C0C0C0;
}

.contact-form:hover {
background-color: rgba(6, 102, 102, 0.92);
}
.text-area {
    border-color: #066666;
    margin-top: 5px;
    border-radius: 0px;
}

.btn-contact-send {
    border-radius: 0px;
    color: #006666;
    border-color: #066666;
    background-color: #fefefe;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.btn-contact-send:hover {
    color: #fefefe;
    background-color: transparent;
    border-color: #fefefe;
    font-weight: 400;
}

/*-----------------------------------------------------------------------------------------COTNACT MODAL---*/

.modal-header {
    display: inline;
    text-align: center;
    background-color: #066666;
    border-radius: 1px;
}
.modal-title {
    color: #f9f9f9;
}

.modal-body {
    text-align: center;
    background-color: #f9f9f9;
}

.modal-footer {
    display: inline;
    text-align: center;
    background-color: #f9f9f9;
}

.modal-btn {
    border-radius: 0px;
    background-color: #066666;
    border-color: #066666;
    color: #f9f9f9;
    height: 40px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.modal-btn:hover {
    background-color: #f9f9f9;
    color: #066666;
    border-color: #066666;
}
/*---------------------------------------------------------------------------------------------Footer---*/


.footer-social-links {
    text-align: center;
    margin: 0px 10px 10px 10px;
}
.social-icon {
 color: #f4f4f4;
 font-size: 1.3em;
 margin-right: 2em;
 border-radius: 50%;
 padding: 0.4em;
 background-color: #066666;
}

.social-icon:hover {
    background-color: #66a3a3;
}

