/*-------------------------------------------------------------------------------General/Padding/Margin---*/
body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

nav {
    padding: 0px;
    min-height: 50px;
    }

.container-fluid {
    padding: 0;
}

.hero-container {
    margin-top: 50px;
    height: calc(100vh - 50px);
}

/*-------------------------------------------------------------------------------Colours-----------------*/

/*------------------------------------------------------------------------------------------------Nav----*/
.navbar {
    background-color: #fefefe;
    padding: 0;
}

.navbar-brand {
    color: #377979;
    height: 40px;
    font-weight: 400;
    letter-spacing: 1px;
    padding-left: 10px;
}

.navbar-brand:hover {
    color: #065858;
}

.navbar-toggler {
    max-height: 40px;
    padding-top: 5px;
    border: none;
}
.navbar-toggler-icon {
     color: #508a8a;
     font-size:28px;
}

.navbar-toggler:focus, .navbar-toggler:active {
    outline: none;
    box-shadow: none;
  }

.nav-item {
    background-color: transparent;
    letter-spacing: 1px;
    font-weight: 300;
}

.nav-link {
    color: #054f4f;
}

.nav-item:hover .nav-link {
    color: #508a8a;
}


.nav-btn-contact {
    border-radius: 0px;
    background-color: #065858;
    border-color: #065858;
    color: #fefefe;
    height: 40px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.nav-btn-contact:hover {
    background-color: #fefefe;
    color: #065858;
    border-color: #065858;
}

/*------------------------------------------------------------------------------------------------Hero---*/

.hero-container {
    background-image: url("../images/hero.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;   
    position: relative;
}

.hero-text-overlay {
    font-size: 50px;
    color: white;
    text-align: right;
    background-color: rgba(6, 88, 88, 0.9);
    margin-top: 10px;
    margin-right: 10px;
    }

.nav-btn-about {
    border-radius: 0px;
    color: #065858;
    border-color: #065858;
    background-color: #fefefe;
    height: 40px;
    letter-spacing: 1px;
    margin-right: 10px;
}

.nav-btn-about:hover {
    color: #fefefe;
    background-color: #065858;
    border-color: #fefefe;
}